{
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
}

bumble-bee.lukebouch.com {
	respond "Hello, world!"
}

blueiris.lukebouch.com {
	reverse_proxy 192.168.88.60:81
}

music.lukebouch.com {
	reverse_proxy localhost:4533
}

budget.lukebouch.com {
    reverse_proxy localhost:5006
}
